@model Web.Models.Business_Entities.TrackerViewModel

<form id="registerForm" method="post" asp-action="PostEdit">

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Percentage" />

    <div class="modal-body">
        <div class="form-group">
            <label asp-for="Completed"></label>
            <input asp-for="Completed" class="form-control" />
            <span asp-validation-for="Completed" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Planned"></label>
            <input asp-for="Planned" class="form-control" />
            <span asp-validation-for="Planned" class="text-danger .planned-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <div class="input-group mb-3">
                <input asp-for="Date" class="form-control" id="dateInput" type="text" readonly="true" value=""/>
                <span class="input-group-text bg-light" id="dtp">
                    <i class="fa-regular fa-calendar"></i>
                </span>
            </div>

            <span asp-validation-for="Date" class="text-danger .planned-validation-error"></span>
        </div>

    </div>
    <div class="modal-footer">
        @* data-bs-dismiss="modal" *@
        <button type="button" class="btn btn-secondary hideModal">Close</button>
        <button type="submit" class="btn btn-primary submit-form">Submit</button>
    </div>
</form>

<script>

    $('#dateInput').on('focus', function (e) {
        $(this).blur();
    })

    $('#dateInput').datepicker({
        format: 'M dd, yyyy',
        autoclose: true,
        orientation: 'bottom',
        showOnFocus: false
    }).datepicker('setDate', new Date());

    $('#dtp').click(function () {
        $('#dateInput').datepicker('show');
    });

</script>