@using Web.Models.Business_Entities

@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewBag.Title = "Register";
}

<div class="login-form p-5 mx-auto d-flex align-items-center justify-content-center">
    <form method="post" asp-action="Register" asp-controller="User" class="shadow-lg w-100 p-5">
        <h3 class="text-center mb-3">Sign up</h3>

        @if (ViewData.ModelState.ContainsKey("RegistrationError"))
        {
            <div class="alert alert-info mb-3" role="alert">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        }
        
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <div class="input-group">
                <input asp-for="Password" class="form-control" />
                <span class="input-group-text toggle-password">
                    <i class="fa-regular fa-eye-slash" id="password-icon"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <div class="input-group">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span class="input-group-text toggle-confirm-password">
                    <i class="fa-regular fa-eye-slash" id="confirm-password-icon"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Sign Up</button>
        <div class="mb-3">
            Already have an account? <a asp-action="Login">Login</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $('.toggle-password').on('click', function () {
            PasswordToggle('#Password', '#password-icon');
        });

        $('.toggle-confirm-password').on('click', function () {
            PasswordToggle('#ConfirmPassword', '#confirm-password-icon');
        })
    </script>
}