@using Web.Models.Business_Entities
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="login-form p-5 mx-auto d-flex align-items-center justify-content-center">
    <form method="post" asp-action="Login" asp-controller="User" class="shadow-lg w-100 p-5">
        <h3 class="text-center mb-3">Login</h3>
        <div class="alert alert-info mb-5" role="alert">
            <div>
                Most impossible goals can be met simply by breaking them down into bite-size chunks, writing them down, believing them and going full speed ahead as if they were routine.' — Don Lancaster
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" />
                    <span class="input-group-text toggle-password">
                        <i class="fa-regular fa-eye-slash" id="password-icon"></i>
                    </span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <small><a href="#">Forgot password?</a></small>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary mb-3 w-100">Login</button>
        <div class="mb-3">
            Not a member? <a asp-action="Register">Signup now</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $('.toggle-password').on('click', function () {
            PasswordToggle('#Password', '#password-icon');
        });
    </script>
}
